@import "fonts";

$border-color: #80c6ff;

body {
	font-family: 'scatter OpenSans', sans-serif;
	text-align: center;
}

.categories {
	display: flex;
	flex-wrap: wrap;
}

table {
	max-width: 350px;
	td, th {
		padding: 12px;
	}
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	& + img {
		cursor: pointer;
		max-height: 200px;
		max-width: 200px;
		box-sizing: border-box;
	}
	& + img:hover {
		border: 3px solid $border-color;
		margin: -3px;
	}
	&:checked + img {
		border: 6px solid $border-color;
		margin: -6px;
	}
}

.category {
	border: 3px solid rgb(86, 228, 129);
	border-radius: 16px;
	background-color: rgb(225, 245, 225);
	margin: 12px;
	padding: 24px;
	h1 {
		margin:0;
		padding:0;
		cursor: pointer;
		text-shadow: 1px 1px gray;
	}
}

.collapsed::before {
	content: "+ ";
}

.expanded::before {
	content: "- ";
}

.hidden {
	display: none;
}

.movie {
	.inner {
		margin-left: 12px;
		max-width: 800px;
		h2 {
			margin-bottom: 0;
		}
	}
	border-top: 1px solid black;
	padding-bottom: 32px;
	img {
		width: 150px;
		float: left;
		margin-right: 16px;
	}
	min-height: 250px;
	overflow: hidden;
}