@import "fonts";

$border-color: #5560ff;

body {
	font-family: 'scatter OpenSans', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr 120px;
	grid-template-areas: 
		"nav main"
		"nav footer";
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	height: 100vh;
	width: 100vw;
}

nav {
	background-color: rgb(193, 193, 255);
	text-align: left;
	grid-area: nav;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			cursor: pointer;
			user-select: none;
			padding: 0.5em;
			margin: 2px;
			color: white;
			background-color: rgb(72, 72, 134);
			border-right: 3px solid white;
			box-sizing: border-box;
			transition: all 100ms ease-in-out;
			&:hover {
				border-right: 12px solid white;
			}
			&.finished {
				text-decoration: line-through;
				background-color: rgba(72, 72, 134, 0.8);
			}
			&.selected {
				border-right: 12px solid rgb(72, 72, 134);
				font-weight: 700;
				background-color: white;
				color: rgb(72, 72, 134);
			}
			&.finished::before {
				content: "✓ ";
			}
		}
	}
}

.main {
	grid-area: main;
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-evenly;
		li {
			flex-basis: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	img {
		cursor: pointer;
		width: 150px;
		float: left;
		margin-right: 16px;
		transition: all 100ms ease-out;
		box-shadow: 0px 8px 12px black;
		&:hover {
			transform: translate(0, -20px) scale(1.1, 1.1);
			box-shadow: 0px 20px 20px black;
		}
		&.selected {
			outline: 8px solid $border-color;
		}
	}
}

.movie {
	.inner {
		margin-left: 12px;
		max-width: 800px;
		h2 {
			margin-bottom: 0;
		}
	}
	border-top: 1px solid black;
	padding-bottom: 32px;
	img {
		width: 150px;
		float: left;
		margin-right: 16px;
	}
	min-height: 250px;
	overflow: hidden;
}

.footer {
	grid-area: footer;
	border-top: 3px solid black;
	form {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}