body {
	background-color: rgb(3, 20, 7);
	color: rgb(251, 252, 212);
	font-size: 2rem;
}

.mainContainer {
	display: flex;
}

#mainText {
	
}

.lineLengths {
	display: flex;
	flex-direction: column;
}