@import "fonts";

$header-height: 64px;
$light-text: black;
$light-background: #efefef;
$dark-text: #d2d2d2;
$dark-background: #222222;

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
	font-family: 'scatter OpenSans', sans-serif;
	background-color: $light-background;
	color: $light-text;
	padding:0;
	margin:0;
}

.navihey:after {
	background-image: url('/images/zootr-sim/navi.png');
	background-size: 60px 60px;
	display: inline-block;
	width: 60px; 
	height: 60px;
	content:"";
	margin-left: 10px;
}

.dark-mode {
	background-color: $dark-background;
	color: $dark-text !important;
}

#dark-mode-toggle {
	display:inline-block;
	position:absolute;
	margin-top:$header-height;
	font-size: 14px;
	padding:10px;
}

#dark-mode-toggle:visited {
	color:rgb(0,0,238);
}

.dark-mode #dark-mode-toggle {
	color: $dark-text;
}

.dark-mode #dark-mode-toggle:visited {
	color: $dark-text;
}

.dark-mode a {
	color: $dark-text;
}

.dark-mode a:visited {
	color: $dark-text;
}

div.headerbar {
	margin:0;
	padding:0;
	border:0;
	position:absolute;
	width:100%;
	height:$header-height;
	background-image: linear-gradient(#333, black);
	background-repeat: no-repeat;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	padding:0;
	color:white;
	font-size: 1.5em;
	border:0;
	margin:0;
	img {
		vertical-align: middle;
		padding-left: 12px;
	}
	span {
		vertical-align:middle;
		padding-left:6px;
		text-shadow: 0px 0px 10px #cccccc;
	}
}

.hash {
	padding: 0;
	border: 0;
}

.hash-item {
	border:0;
	width:32px;
	height:32px;
	margin:0 1px;
	padding:0;
}

.hash-label {
	position:absolute;
	color: white;
	font-size: 0.6em;
	position: absolute;
	left: 50%;
	-webkit-transform: translate,(-50%, -12px);
	transform: translate(-50%, -12px);
}

.credit {
	align-self: flex-end;
	color:white;
	padding-left: 59px;
	padding-right: 6px;
	padding-bottom: 4px;
}

.main {
	padding: 10px;
	border: 1px solid black;
	display:inline-block;
	overflow-y: auto;
	overflow-x:auto;
	margin: 10px;
	a {
		text-decoration: none;
		font-weight: bold;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
}

div {
	display:inline-block;
}

.dark-mode div.main {
	border: 1px solid #bbb;
}

div.mainbody {
	margin-top:$header-height;
	margin-left:0px;
	margin-right:0px;
	width:100%;
	min-height: 80%;
	padding:10px 0px;
	border:0;
	text-align: center;
}

.praise {
	border:0;
	margin-top:20px;
	margin-bottom: 0;
	padding:0;
	font-size:12px;
	font-weight: 900;
}

.quotecontainer {
	display: flex;
	justify-content: center;
	border: 0;
	margin: 0;
	padding: 0;
}

.curly-quotes {
	margin-top: 4px;
}

.quote {
	font-size: 14px;
	width: 400px;
}

.curly-quotes:before, .curly-quotes:after {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	line-height: 48px;
	font-size: 50px;
	opacity: .2;
}

.curly-quotes {
	font-style: italic;
}

.curly-quotes:before {
	font-family: Georgia, serif;
	content: '\201C';
	margin-right: 4px;
	margin-left: -8px;
	margin-top: -10px;
}

.curly-quotes:after {
	font-family: Georgia, serif;
	content: '\201D';
	margin-left: 4px;
	margin-right: -8px;
	margin-top:-10px;
}

.quote-by {
	display: block;
	padding-right: 10px;
	text-align: right;
	font-size: 13px;
}

.start {
	border: 0;
	width:100%;
	height:50%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0 0 0 ;
	> div {
		width: 40%;
		min-width: 400px;
		min-height: 500px;
		border:0;
	}
	.startleft {
		margin:0;
		justify-content: center;
		align-items: center;
	}
	.startright {
		margin:0;
		input {
			font-family: 'scatter OpenSans', sans-serif;
			font-size: 1em;
		}
	}
}

div.generateform {
	border:0;
	width:80%;
	max-width: 500px;
	padding:0px;
	margin: 0px;
	display: inline-block;
	text-align: center;

	div {
		margin:0;
		margin-top:10px;
		padding:0;
		border:0;
		text-align: left;
	}
	span {
		justify-content: left;
		text-align: left;
		width:95%;
	}
	form {
		margin:0;
		padding:10px;
		> * {
			width:100%;
			box-sizing: border-box;
		}
	}
	input {
		padding:10px;
		font-family: 'scatter OpenSans', sans-serif;
		border-radius: 6px;
		border: 1px solid #ccc;
		&[type="submit"] {
			font-weight: bold;
			text-decoration: none;
			padding:6px 10px;
			border-radius:6px;
			border: 2px solid black;
			color:white;
			background-color: #0061ff;
			width: 50%;
			text-align: center;
			font-size: 1.1em;
			margin-top:10px;
			cursor:pointer;
		}
		&[type="text"]:focus {
			border: 1px solid #888;
		}
	}
	select {
		padding:10px;
		font-family: 'scatter OpenSans', sans-serif;
		border-radius: 6px;
		border: 1px solid #ccc;
		margin-top:2px;
		&:focus {
			border: 1px solid #888;
		}
	}
}

input[type=text] {
	padding:10px;
	font-family: 'scatter OpenSans', sans-serif;
	border-radius: 6px;
	border: 1px solid #ccc;
}

button, a.button {
	padding:10px;
	font-family: 'scatter OpenSans', sans-serif;
	border-radius: 6px;
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
}

span.loading {
	position: absolute;
	padding-left:12px;
	animation: 1s ease 0s infinite fadeoutin;
	font-size: 2em;
}

div.loadfromid {
	border:0;
	margin:0;
	padding:4px;
	display:inline-block;
	text-align: center;
	.error {
		margin-top:0;
		position: absolute;
	}
	input {
		padding:10px;
		font-family: 'scatter OpenSans', sans-serif;
		border-radius: 6px;
		border: 1px solid #ccc;
	}
}

div.logiccheck {
	border:0;
	padding:0;
	margin:0;
	margin-top:16px;
}

div.logiccheckfooter {
	border:0;
	padding:0;
	margin:0;
	min-height:0;
	min-width:0;
	font-size:0.75em;
}

div.error {
	margin: 8px;
	padding: 8px;
	background-color: #ffdddd;
	border-radius: 6px;
	border: 1px solid #d36363;
	border-left: 6px #d36363;
	border-left-style: inset;
}

.dark-mode div.error {
	background-color: #560000;
	border-color: #7a4444;
	border-left: 6px solid #7a4444;
}

@keyframes fadeoutin {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeoutinshop {
	0% {color: rgba(238,238,238,1);}
	50% {color: rgba(238,238,238,0);}
	100% {color: rgba(238,238,238,1);}
}

.loadinglink {
	animation: 1s ease 0s infinite fadeoutin;
}

.shopgrid .loadinglink {
	animation: 1s ease 0s infinite fadeoutinshop;
}

.generating {
	animation: 1s ease 0s infinite fadeoutin;
	font-size: 2em;
}

.uploading {
	display:inline-block;
	margin-top:20px;
	animation: 1s ease 0s infinite fadeoutin;
	font-size: 2em;
	top:-100px;
}

div.currentinner {
	text-align: left;
	padding:0;
	margin:0;
	border:0;
}

div.skullsinner {
	text-align: left;
	padding:0;
	margin:0;
	border:0;
}

.header {
	vertical-align: middle;
	font-size:3em;
}

.subheader {
	vertical-align: middle;
}

a {
	cursor: pointer;
}

a.disabled-button {
	background-color: #888888 !important;
	cursor:default !important;
}

a.button.blue {
	background-color: #0061ff;
	color: white;
}

a.button.red {
	background-color: #ee0000;
	color: white;
}

.peekicon {
	height: 0.8em;
	vertical-align: middle;
	filter: invert(50%);
	cursor: pointer;
	margin-right: 4px;
	margin-top: -2px;
}

a.useChu {
	text-decoration:none;
	font-weight: bold;
	color:black;
}

.main {
	width: 400px;
	height:425px;
	max-height: 425px;
}

.headline {
	width: 90%;
	margin:10px;
	min-height:34px;
	font-size:24px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid black;
}

.dark-mode .headline {
	border-bottom: 2px solid #bbb;
}

.checked {
	color:#888888;
}

.hint-table {
	border-collapse: collapse;
	width: 100%;
}

.hint-table tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.dark-mode .hint-table tr:nth-child(odd) {
	background-color: #282828;
}

.hint-table th {
	text-align: center;
}

.hint-table td, tr {
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
}

.hint-loc {
	text-align: right;
	padding:5px;
	padding-right: 10px;
	max-width: 150px;
	vertical-align: middle;
	width:50%;
}

.hint-item {
	vertical-align: middle;
	padding: 5px;
	padding-left: 10px;
	width:50%;
}
 
.trackerinner {
	display:grid;
	background-color:$dark-background;
	grid-template-columns: auto auto;
	margin:0;
	padding:0;
	border:0;
}

.items {
	border:0;
	margin:0;
	padding:0;
	display: grid;
	
	background-color:#222;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
	justify-content: right;
}

.dungeons {
	border:0;
	margin:0;
	padding:0;
	text-align: left;
	background-color: #222;
	display:grid;
}

.item {
	display: inline-grid;
	width: 32px;
	height: 32px;
	margin:0;
	overflow-x:hidden;
	background-position: center; 
	background-repeat: no-repeat;
	padding:4px;
	border:0;
	position: relative;
}

.songcheckmark {
	position: absolute;
	right: 0;
	bottom: 0;
}

.dark-mode .items {
	background-color:#222;
}

.dungeon {
	display: inline-block;
	width: 90px;
	height: 16px;
	margin:0;
	overflow-x:hidden;
	overflow-y: hidden;
	background-position: center; 
	background-repeat: no-repeat;
	background-color: $dark-background;
	color:white;
	padding:1px;
	border:0;
}

.dark-mode .dungeon {
	background-color:#222;
}

.dark-mode .dungeontitle {
	background-color:transparent !important;
	-webkit-filter:brightness(90%);
		-moz-filter:brightness(90%);
		filter: url(#brightness); /* required for FF */
		filter:brightness(90%);
}

.dark-mode .dungeon > div {
	background-color:#222;
}

.dungeontitle {
	background-repeat: no-repeat;
	width:32px;
	height:12px;
	padding:0;
	margin:0px;
	border:0;
}

.medallionimage {
	margin:0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding:0;
	border:0;
	margin-left: 2px;
	margin-right: 2px;
}

.smallkeyimage {
	margin:0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	padding:0;
	border:0;
}

.bosskeyimage {
	margin:0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	padding:0;
	border:0;
}

#GanonsCastle {
	padding-bottom: 7px;
}

.disable {
		/*background-blend-mode:overlay;*/
		background-color: transparent !important;
		-webkit-filter:brightness(30%);
			-moz-filter:brightness(30%);
			filter: url(#brightness); /* required for FF */
			filter:brightness(30%);
}

.shopgrid {
	display: grid;
	grid-template-columns: 64px 64px auto 64px 64px;
	padding:10px;
	border:0;
	background-color: #222;
	margin: 10px 0;
	color:#eee;
}

.shopchild {
	margin:0;
	padding:0;
	border:0;
}

.shopitem {
	background-color: #222;
	background-repeat: no-repeat;
	background-size: auto 75%;
	background-position: center;
	height: 64px;
	cursor: pointer;
	width:100%;
}

.shopprice {
	background: #777 left / contain url('/images/zootr-sim/rupee.png') no-repeat;
	cursor: pointer;
	height: 24px;
	width: 100%;
}

.shopplayer {
	height: 24px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
}

.shopnpc {
	background-color: #222;
	grid-row: 1 / 6;
	grid-column: 3 / 3;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.shopspacer {
	grid-row: 5 / 6;
	grid-column: 1 / 6;
}

.route {
	text-align: left;
}

.hints {
	text-align: left;
}

.routecontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border:0;
	margin:0;
	padding:0;
}

.route {
	white-space: pre-wrap;
}

.routebuttons {
	border:0;
	margin:0;
	padding:10px;
	width: 200px;
	height: auto;
}

#copied {
	position:absolute;
	margin-top:-44px;
	margin-left: 24px;
	color: black;
}

.dark-mode #copied {
	color:$dark-text;
}

.copied-anim {
	animation: copied 1.2s forwards;
}

.dark-mode .copied-anim {
	animation: copieddark 1.2s forwards;
}

.logicfailed-anim {
	animation: logicfailed 1.2s forwards;
}

.dark-mode .logicfailed-anim {
	animation: logicfaileddark 1.2s forwards;
}

.shopgrid .logicfailed-anim {
	animation: logicfailedshop 1.2s forwards;
}

.peekicon.logicfailed-anim {
	animation: logicfailedeye 1.2s forwards;
}

.peekicon:before {
	background: rgba(255, 0, 0, 0.5);
}

@keyframes copied {
	0% {
		color:black;
	}
	100% {
		color: $light-background;
	}
}

@keyframes copieddark {
	0% {
		color:$dark-text;
	}
	100% {
		color: $dark-background;
	}
}

@keyframes logicfailed {
	from { color: red; }
	to { color: black; }
}

@keyframes logicfaileddark {
	from { color: red; }
	to { color: $dark-text; }
}

@keyframes logicfailedshop {
	from { color: red; }
	to { color: #eee; }
}

@keyframes logicfailedeye {
	from { opacity: 1; }
	to { opacity: 0; }
}

.playthroughinfo {
	font-size: 14px;
	text-align: center;
	opacity: 0.7;
	margin:0;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	padding:0;
	margin:0;
	border:0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
	display: none;
}

.modal-content {
	text-align: center;
	padding: 16px;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	display: inline-block;
}

.dark-mode .modal-content {
	background-color: $dark-background;
}

.footer {
		border: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		margin:0;
		padding:10px 0 20px 0;
		font-size: 14px;
		text-align: center;
}

.lbheader {
	display: inline-flex;
	justify-content: space-between;
	border:0;
	width:100%;
	padding: 16px 0px;
}

.nicetable {
	display:inline-block;
	border-collapse: collapse;
	thead {
		th {
			min-width: 200px;
			.sortdesc::before {
				position: absolute;
				margin-left:-12px;
				content: "▼";
			}
			.sortasc::before {
				position: absolute;
				margin-left:-12px;
				content: "▲";
			}
		}
		font-size: 0.7em;
		text-transform: uppercase;
	}
	tbody {
		tr {
			&:nth-child(even) {
				background-color: rgba(127,127,127,0.3);
			}
			&:hover {
				background-image: linear-gradient(rgba(127,127,127,0.1) 0, rgba(127,127,127,0.1) 100%);
			}
			td {
				padding: 10px;
			}
		}
	}
}

.skeleton td {
	border:0;
	padding:0;
	height: 24px;	
}

.nicetable tr:nth-child(even) .skeleton  {
	border:0;
	background-image: linear-gradient(90deg, rgba(127,127,127,0.3) 0, rgba(127,127,127,0) 50%, rgba(127,127,127,0.3) 100%);
	background-position: 0;
	background-size: 200%;
	animation: skeletonanim 2s linear infinite reverse;
}

@keyframes skeletonanim {
	from {
		background-position: 0%;
	}
	to {
		background-position: 200%;
	}
}

#mwgames tr:hover {
	cursor: pointer;
}

.changelogdate {
	opacity: 0.6;
}

$avi-size: 48px;

.updatepost {
	min-width: 500px;
	max-width: 800px;
	width: 50%;
	text-align: left;
	position: relative;
	padding-bottom: $avi-size;
	margin-bottom: $avi-size;
}

.signature {
	.emdash {
		position: absolute;
		left:-24px;
		top: $avi-size/2;
		width: 16px;
		height: 1px;
		background-color: $light-text;
		.dark-mode & {
			background-color: $dark-text;
		}
	}
	height: $avi-size;
	line-height: $avi-size;
	background: {
		repeat: no-repeat;
		size: $avi-size;
		image: url('/images/avi.png')
	};
	position: absolute;
	padding: {
		left: $avi-size + 8px;
	};
	right: 0;
	bottom: 0;
}