include head

doctype html
html
	head
		//+p5
		title Map thing
		link(rel="stylesheet",type="text/css",href="stylesheets/p5-fullscreen.css")
	body
		canvas(height="10000", width="10000")#canvas
			p Canvas not supported.
		script(type="text/javascript",src="javascripts/shp.min.js")
		script(type="text/javascript",src="javascripts/map-thing.js")