include head

doctype html
html
  head
    +ga
    meta(name="viewport",width="device-width",initial-scale="1.0",maximum-scale="1.0",user-scalable="0")
    +p5
    +jquery
    script(src="javascripts/primes.js")
    link(rel="stylesheet",type="text/css",href="stylesheets/primes.css")
  body
    .grid-container