include head

doctype html
html
  head
    +ga
    +p5
    +jquery
    meta(name="viewport",width="device-width",initial-scale="1.0",maximum-scale="1.0",user-scalable="0")
    link(rel="stylesheet",type="text/css",href="/stylesheets/p5-fullscreen.css")
    script(src="/javascripts/p5/rocket/sketch.js")
    script(src="/javascripts/p5/rocket/rocket.js")
  body