include head

doctype html
html
  head
    title Crossword helper
    +jquery
    +localforage
    +angular
    +filesaver
    link(rel="stylesheet",type="text/css",href="stylesheets/wordlengths.css")
    script(type="text/javascript",src="javascripts/wordlengths.js")
    
body(ng-app="wordlengths",ng-controller="wordlengthsController",onKeyDown="focusText()")
  #saved Saved!
  #menu
    a(ng-click="saveAsTxt()",href="") Save as .txt 
    span Font
  .mainContainer
    #mainText(contenteditable,spellcheck="false",name="mainText",ng-model="mainText",ng-change="mainTextChanged()")
      div placeholder text
    .lineLengths
      span(ng-repeat="lineLength in lineLengths track by $index",ng-style="{'visibility': (lineLength == 0 ? 'hidden' : 'visible')}") {{lineLength}}
  