include head

doctype html
html
	head
		+meta(meta)
		+ga
		title ZOoTR Sim
		link(rel="stylesheet",type="text/css",href="/stylesheets/zootr-sim.css")
		link(rel="shortcut icon",href="/favicon/zootr-sim/favicon.ico", type="image/x-icon")
		link(rel="icon",href="/favicon/zootr-sim/favicon.ico", type="image/x-icon")
		
	body(ng-app="zootr-sim-leaderboard",ng-controller="leaderboard-controller",class="{{darkModeOn ? 'dark-mode' : ''}}")
		.headerbar.noselect
			.title(ng-click="load_home()",style="cursor:pointer;")
				img(src="/images/zootr-sim/ocarina.png",width="50px",height="50px",draggable="false",ng-href="..")
				span ZOoTR Sim
			span.credit made by scatter
		a(href="",ng-click="toggleDarkMode()")#dark-mode-toggle {{darkModeOn ? 'Light' : 'Dark'}} Mode
		.mainbody
			.lbcontainer
				.lbheader
					div
						form(ng-submit="get_entries(per_page, current_sort, sort_direction, 1, search_name_input, search_settings_string_input)")
							input(type="text", ng-model="search_name_input",placeholder="Filter name")
							input(type="text", ng-model="search_settings_string_input",placeholder="Filter settings")
							button(type="submit") Search
					div
						button(ng-click="get_entries(per_page, current_sort, sort_direction, current_page - 1, search_name, search_settings_string)", ng-disabled="loading || current_page <= 1") < 
						button(ng-click="get_entries(per_page, current_sort, sort_direction, current_page + 1, search_name, search_settings_string)", ng-disabled="loading || current_page >= pages") >
						|  Page {{current_page}} of {{pages}}
				br
				table.lbtable.nicetable
					thead
						tr
							th(ng-repeat="field in fields")
								a(ng-click="get_entries(per_page, field, current_sort == field && sort_direction == 'asc' ? 'desc' : 'asc', current_page, search_name, search_settings_string)",class="{{current_sort == field ? (sort_direction == 'asc' ? 'sortasc' : 'sortdesc') : ''}}") {{field.replace("_", " ")}}
					tbody
						tr(ng-if="!loading",ng-repeat="entry in entries").entry
							td {{entry.name ? entry.name : "-"}}
							td {{entry.checked_locations}}
							td {{entry.total_locations}}
							td {{entry.seed}}
							td {{entry.settings_string}}
							td {{entry.playtime}}
							td {{entry.finish_date}}
						- for (var i = 0; i < 6; i++) {
						tr(ng-show="loading")
							td(colspan="{{fields.length}}").skeleton
						- }
				br
				.error(ng-if="load_error") {{load_error}}
		+angular
		+localforage
		script var total_entries = #{count};
		script(type="text/javascript",src="/javascripts/zootr-sim/leaderboard_controller.js")