include head

doctype html
html
	head
		+meta(meta)
		+ga
		title ZOoTR Sim
		link(rel="stylesheet",type="text/css",href="stylesheets/zootr-sim.css")
		link(rel="shortcut icon",href="favicon/zootr-sim/favicon.ico", type="image/x-icon")
		link(rel="icon",href="favicon/zootr-sim/favicon.ico", type="image/x-icon")
		
	body(ng-app="zootrSim",ng-controller="simController",class="{{darkModeOn ? 'dark-mode' : ''}}")
		.headerbar.noselect
			.title 
				img(src="images/zootr-sim/ocarina.png",width="50px",height="50px",draggable="false")
				span ZOoTR Sim
			.hash
				span.hash-label(ng-if="fsHash.length > 0") HASH
				.hash-item(ng-repeat="x in fsHash track by $index",id="{{x}}",style="background-image: url('images/zootr-sim/{{hashImages[x]}}')")
			span.credit made by scatter
		a(href="",ng-click="toggleDarkMode()")#dark-mode-toggle {{darkModeOn ? 'Light' : 'Dark'}} Mode
		a(href="",ng-click="downloadSpoilerLog()",ng-if="currentSpoilerLog != ''")#spoiler-download Download Spoiler Log
		.mainbody
			h1.navihey(ng-show="!playing") Hey!
			p(ng-show="!playing") The current version of OoT Randomizer is v5.2. This should work with the sim as-is, but it's not tested - I'm working on some big updates, so in the meantime, use v5.1 if you want to be extra sure everything works.
			
			.praise(ng-show="!playing") PRAISE FOR ZOOTR SIM
			br(ng-show="!playing")
			.quotecontainer(ng-show="!playing")
				figure.quote
					blockquote.curly-quotes only reason i made it to grands
					figcaption.quote-by - Whatthehellshappened
			.start(ng-show="!playing")
				.startleft
					span.header Generate a seed
					br
					span.subheader 
						| Generate on the fly using 
						a(href="https://ootrandomizer.com") ootrandomizer.com
					br
					div.generateform
						form(ng-submit="fetchSeed()")
							div Seed
							br
							input(type="text",ng-model="seed",placeholder="leave blank for random")
							br
							div Settings
							br
							input(type="text",ng-model="settingsString",placeholder="Settings String",required)
							br
							select(placeholder="test",ng-model="settingsPreset",ng-change="presetSelected()",ng-options="k for (k,v) in settingsPresets")
							br
							input(type="submit",value="Generate")
					br
					span(ng-if="generating").generating Generating...
					div(ng-if="generationError != null").error {{generationError}}
				.startright
					span.header Upload a log
					br
					span.subheader Upload a preexisting v5.2 spoiler log
					br
					br
					input(type="file",id="files",custom-on-change="fileSelected",ng-model="file")
					br
					span(ng-if="uploading").uploading Uploading...
					div(ng-if="uploadError != null").error {{uploadError}}
				br
				| {{spoiler}}
			span(ng-show="playing && !finished")
				span {{(now - start_time) | formatDuration}}
				br
				.headline {{headline}}
				br
				.main.tracker
					.trackerinner
						.items
							div(ng-repeat="x in itemgrid track by $index",ng-if="x != 'break'",id="{{x}}",style="background-image: url('images/zootr-sim/{{getImage(x)}}')",class="{{lightUpTracker(x) ? '' : 'disable'}}").item
						.dungeons
							div(ng-repeat="dungeon in dungeongrid",id="{{dungeon | removeSpaces}}").dungeon
								div(style="background-image:url('images/zootr-sim/{{nameToImageTitle[dungeon]}}')").dungeontitle
								div(style="background-image: url('images/zootr-sim/{{getMedallionImage(dungeon)}}')",class="{{current_items.includes(known_medallions[dungeon]) ? '' : 'disable'}}").medallionimage
								div(ng-if="hasKeys(dungeon)",class="{{getCount('Small Key ('+dungeon+')') > 0 ? '' : 'disable'}}",style="background-image: url('images/zootr-sim/{{getCount('Small Key ('+dungeon+')') > 0 ? getCount('Small Key ('+dungeon+')') : 'small_key'}}.png')").smallkeyimage
								div(ng-if="hasBossKey(dungeon)",class="{{getCount('Boss Key ('+dungeon+')') > 0 ? '' : 'disable'}}",style="background-image: url('images/zootr-sim/boss_key.png')").bosskeyimage
					br
					br
					span(ng-if="bombchu_count > 0") Bombchus: {{bombchu_count > 1000 ? "∞" : bombchu_count}}
					br
					br
					a(ng-if="current_items.includes('Farores Wind') && current_items.includes('Magic Meter') && ((current_age == 'child' && windRegionChild == '') || (current_age == 'adult' && windRegionAdult == ''))", ng-click="setWind()") Set Wind
					a(ng-if="current_items.includes('Farores Wind') && current_items.includes('Magic Meter') && ((current_age == 'child' && windRegionChild != '') || (current_age == 'adult' && windRegionAdult != ''))", ng-click="recallWind()") Recall Wind ({{current_age == 'child' ? windRegionChild : windRegionAdult}})
				.main.current
					.currentinner
						p Current Region: {{current_region}} ({{current_subregion}}) [{{current_age}}]
						img(ng-repeat-start="loc in available_locations", ng-if="(loc.includes('Freestanding') || loc == 'Underwater Bottle') && !known_hints.hasOwnProperty(loc)", ng-click="peekAt(loc)" src="images/zootr-sim/eye.png", draggable="false", id="{{loc + 'peek'}}").peekicon
						a(ng-if="!checked_locations.includes(loc)",ng-click="checkLocation(loc)",id="{{loc}}").location {{loc}}
							br
						span(ng-repeat-end,ng-if="checked_locations.includes(loc)", class="checked") {{ loc }}
							br
						br
						a(ng-repeat="entrance in available_entrances",ng-click="takeEntrance(entrance)",id="{{entrance}}").entrance -> To {{entrance}}
							br
						p(ng-if="collected_warps.length > 0") WARPS 
						a(ng-repeat="warp in collected_warps",ng-click="takeEntrance(warp)",id="{{warp}}").entrance -> Play {{warp}}
							br
						br
						a(id="Savewarp {{current_age}}",ng-click="takeEntrance('Savewarp ' + current_age)").entrance -> Savewarp to {{current_age == 'child' ? 'Kokiri Forest' : 'Temple of Time'}}
						br
				.main.hints
					span AVAILABLE HINTS
					br
					br
					a(ng-repeat-start="k in available_hints",ng-if="!checked_locations.includes(k)",ng-click="checkHint(k)",id="{{k}}").hint {{k}}
						br
					span(ng-repeat-end,ng-if="checked_locations.includes(k)").hint.checked {{k}}
						br
					br
					table.hint-table
						tr
							th(colspan="2") KNOWN HINTS
						tr(ng-repeat="loc in known_hints | orderHints")
							td.hint-loc {{loc}}
							td.hint-item {{known_hints[loc].join(', ')}}
					br
				.main.shops(ng-if="shops !== undefined && !is_empty(shops)")
					.shopgrid
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 8'].item}}",title="{{shops[current_shop][current_shop + ' Item 8'].item}}",ng-click="checkLocation(current_shop + ' Item 8')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 8') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 8'].item)}}');") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 6'].item}}",title="{{shops[current_shop][current_shop + ' Item 6'].item}}",ng-click="checkLocation(current_shop + ' Item 6')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 6') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 6'].item)}}');") 
						.shopchild.shopnpc(style="background-image:url('images/zootr-sim/{{shopNPCs[current_shop]}}')") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 2'].item}}",title="{{shops[current_shop][current_shop + ' Item 2'].item}}",ng-click="checkLocation(current_shop + ' Item 2')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 2') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 2'].item)}}');") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 4'].item}}",title="{{shops[current_shop][current_shop + ' Item 4'].item}}",ng-click="checkLocation(current_shop + ' Item 4')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 4') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 4'].item)}}');") 
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 8')", id="{{current_shop + ' Item 8'}}") {{shops[current_shop][current_shop + ' Item 8'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 6')", id="{{current_shop + ' Item 6'}}") {{shops[current_shop][current_shop + ' Item 6'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 2')", id="{{current_shop + ' Item 2'}}") {{shops[current_shop][current_shop + ' Item 2'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 4')", id="{{current_shop + ' Item 4'}}") {{shops[current_shop][current_shop + ' Item 4'].price}}
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 7'].item}}",title="{{shops[current_shop][current_shop + ' Item 7'].item}}",ng-click="checkLocation(current_shop + ' Item 7')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 7') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 7'].item)}}');") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 5'].item}}",title="{{shops[current_shop][current_shop + ' Item 5'].item}}",ng-click="checkLocation(current_shop + ' Item 5')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 5') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 5'].item)}}');") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 1'].item}}",title="{{shops[current_shop][current_shop + ' Item 1'].item}}",ng-click="checkLocation(current_shop + ' Item 1')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 1') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 1'].item)}}');") 
						.shopchild.shopitem(alt="{{shops[current_shop][current_shop + ' Item 3'].item}}",title="{{shops[current_shop][current_shop + ' Item 3'].item}}",ng-click="checkLocation(current_shop + ' Item 3')",style="background-image:url('images/zootr-sim/{{checked_locations.includes(current_shop + ' Item 3') ? 'soldout.png' : getShopImage(shops[current_shop][current_shop + ' Item 3'].item)}}');") 
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 7')", id="{{current_shop + ' Item 7'}}") {{shops[current_shop][current_shop + ' Item 7'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 5')", id="{{current_shop + ' Item 5'}}") {{shops[current_shop][current_shop + ' Item 5'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 1')", id="{{current_shop + ' Item 1'}}") {{shops[current_shop][current_shop + ' Item 1'].price}}
						.shopchild.shopprice(ng-click="checkLocation(current_shop + ' Item 3')", id="{{current_shop + ' Item 3'}}") {{shops[current_shop][current_shop + ' Item 3'].price}}
						.shopchild.shopspacer
					a(ng-repeat-start="(shop,contents) in shops",ng-click="setShop(shop)") {{shop}}
					br(ng-repeat-end)
				.main.skulls
					.skullsinner
						p Gold Skulltulas [{{getCount('Gold Skulltula Token')}}/100]
						a(ng-repeat-start="skull in available_skulltulas",ng-if="!checked_locations.includes(skull)",ng-click="checkLocation(skull)",id="{{skull}}").location {{skull}}
							br
						span(ng-repeat-end,ng-if="checked_locations.includes(skull)").location.checked {{skull}}
							br
				br
				br
				a.button#reset(ng-click="show_modal(true)")
					| This seed sucks, throw it away
			span(ng-show="finished")
				h1 Congratulations!
				span Total checks made:
				h1(style="margin-top:0") {{num_checks_made}}/{{total_checks}}
				span Playtime:
				h1(style="margin-top:0") {{playtime | formatDuration}}
				span Name this run for the leaderboard!
				br
				div.loadfromid
					form(ng-submit="submitToLb(lbName)")
						input(type="text",ng-model="lbName",placeholder="Name",required)
						input(type="submit",value="Submit")
						span(ng-if="submitting").loading Submitting...
						span(ng-if="submitted",style="position:absolute;font-size:2em") ✔️
						div(ng-if="lb_error != null").error {{lb_error}}
				h2 Route
				.routecontainer
					.route.main {{route}}
					.routebuttons
						a(ng-click="copyRoute()").button#copyroute Copy to clipboard
						br 
						br 
						a(ng-click="saveRoute()").button#saveroute Save to .txt 
						span(ng-show="copying")#copied.copied-anim Copied!
				br 
				br 
				a(ng-click="throwAway()").button#reset Finish
			p(ng-show="playing").playthroughid Playthrough ID: {{playthroughId}}
			div(ng-show="!playing").loadfromid
				p Load from Playthrough ID
				form(ng-submit="resumeFromId(loadFormId)")
					input(type="text",ng-model="loadFormId",placeholder="Playthrough ID",required)
					input(type="submit",value="Load")
					span(ng-if="loading").loading Loading...
					div(ng-if="loadError != null").error {{loadError}}
		.footer 
			a(href="..") Back to scatter.live
			|  | 
			a(href="https://github.com/scatter-dev/scatter.live/issues/new?title=[zootr-sim]") Report an Issue
			|  | 
			a(href="../zootr-sim-offline.zip",target="_blank") Download for Offline Use
	
		div.modal.hidden
			div.modal-content
				p Really throw the seed away?
				p You won't be able to get it back!
				a.button#reset(ng-click="throwAway()")
					| Get it outta here
		+jquery
		+localforage
		+filesaver
		+angular
		
		script(type="text/javascript",src="javascripts/zootr-sim/logic.js")
		script(type="text/javascript",src="javascripts/zootr-sim/static.js")
		script(type="text/javascript",src="javascripts/zootr-sim/angular.js")
